 .katex {
     color:var(--Orange);
}
.katex { font-size: 1.5em !important; }

body {
    color:var(--DarkBlue);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    }


:root {
    --white: #FFFFFF;
    --DarkBlue: #103860;
    --Orange: #F29024;
    --Red: #F0412E;
    --Green: #17C7A5;
}
